
/*** GENERAL **********************************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
}

* {
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    color: #353535;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
}

.hidden {
    display: none;
}

/*** HEADER ***********************************************************************************************************/

header {
    padding-left: 5px;
    background-color: #212121;
    color: #919496;
    width: 100%;
    border-bottom: 1px solid #949494;
}

header a, header a:visited, header a:hover, header a:active {
    color: #919496;
}

header nav {
    display: flex;
    align-items: center;
    height: 40px;
}

header nav > h1 {
    flex: 1;
    margin-left: 5px;
    font-size: 16px;
    color: lightgray;
}

header nav > a {
    width: 80px;
    text-align: center;
}

header nav > img {
    height: 31px;
    border-radius: 3px;
    vertical-align: middle;
}

/*** BODY *************************************************************************************************************/

main {
    margin: 15px;
}

main h2 {
    text-transform: uppercase;
    font-size: 17px;
    margin: 20px -5px 0 -5px;
    padding: 0 0 2px 5px;
    border-bottom: 2px solid gray;
}

article {
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

article:last-child {
    border-bottom: none;
}

article h3 {
    font-size: 20px;
}

article p {
    margin-top: 5px;
    font-size: 14px;
}

.article-date {
    text-align: right;
    font-size: 12px;
    color: gray;
}

.project {
    flex-direction: row;
    padding-bottom: 15px;
}

.project-image {
    width: 100px;
    height: 100px;
    background: no-repeat center;
    background-size: contain;
    margin-right: 15px;
    border-radius: 3px;
}

.project-caption {
    flex: 1;
}

/*** FOOTER ***********************************************************************************************************/

footer {
    font-size: 13px;
    border-top: 2px solid gray;
    height: 50px;
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
